{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Book list {% endblock title %}   
{% block header %}Book list{% endblock header %}
{% block body %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                {% for group in user.groups.all %}
                {%  if 'Managers' == group.name or is.user_superuser %}   
                <th scope="col">Actions</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in object_list %}
            <tr>
                <td>{{ row.pk }}</td>
                <td>{% if row.photo %}
                    <img src="{{ row.photo.url }}" height="80" width="45" alt="...">
                    {% else %}
                    <img src="{% static '/no-image.jpg' %}"  height="80" width="45" alt="...">
                    {% endif %}</td>
                    <td><a href="{% url 'book:book-view' row.pk %}"> {{ row.name }}</td>
                    {% for group in user.groups.all %}
                    {%  if 'Managers' == group.name or is.user_superuser %}
                    <td><a href="{% url 'book:book-edit' row.pk %}"><i class="bi bi-pencil-square"></i>Edit<a href="{% url 'book:book-delete' row.pk %}"><i class="bi bi-trash3"></i>Delete</td>
                    {% endif %}
                    {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include "pagination.html" %}
    <br><a href="{% url 'book:book-add' %}"> <button type="button" class="btn btn-primary">Add book</button>
{% endblock body %}