{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Book search{% endblock title %}   
{% block header %}Book search{% endblock header %}
{% block body %}
<form action="{% url 'book:book-search' %}" class="d-flex" role="search" method="get">
    <input class="form-control me-2" type="search" name="search_query" placeholder="Search" aria-label="Search" value="{{search_query}}">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<h2>Results:</h2>
{% for book in object_list %}
<a href="{% url 'book:book-view' book.pk %}">{{ book.name }} <br>
{% endfor %}
{% endblock body %}
