{% extends 'base.html' %}
{% block title %} Item list {% endblock title %}   
{% block header %}Item list{% endblock header %}
{% block body %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in object_list %}
            <tr>
                <td>{{ row.pk }}</td>
                <td><a href="{% url 'hb:author-view' row.pk %}"> {{ row.name }}</td>
                <td><a href="{% url 'hb:author-edit' row.pk %}"> <i class="bi bi-pencil-square"></i>Edit<a href="{% url 'hb:author-delete' row.pk %}"><i class="bi bi-trash3"></i>Delete</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include "pagination.html" %}
    <br><a href="{% url 'hb:author-add' %}"> <button type="button" class="btn btn-primary">Add author</button>
{% endblock body %}
