{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Genre's list {% endblock title %}   
{% block header %}Genre's list{% endblock header %}
{% block body %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in object_list %}
            <tr>
                <td>{{ row.pk }}</td>
                <td><a href="{% url 'hb:genre-view' row.pk %}"> {{ row.name }}</td>
                <td><a href="{% url 'hb:genre-edit' row.pk %}"> <i class="bi bi-pencil-square"></i>Edit<a href="{% url 'hb:genre-delete' row.pk %}"><i class="bi bi-trash3"></i>Delete</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include "pagination.html" %}
    <br><a href="{% url 'hb:genre-add' %}"> <button type="button" class="btn btn-primary">Add genre</button>
{% endblock body %}
