<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Serie's list</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Series's list</h1>
        <ul>
            {% for serie in object_list %}
                <li><a href="/serie/{{ serie.pk }}/"> {{ serie.name }} <a href="/serie_edit/{{ serie.pk }}/"> -EDIT- <a href="/serie_delete/{{ serie.pk }}/"> -DELETE-</li>
                {% endfor  %}
        </ul>
        <br><a href="/serie_add/"> Add serie 
        <script src="" async defer></script>
    </body>
</html>